*/__pycache__
*/migrations
*db.sqlite3
*.sqlite
*.sql
__pycache__
blogdjango/__pycache__
comments/__pycache__
comments/migrations
comments/migrations/__pycache__
posts/__pycache__
posts/migrations
posts/migrations/__pycache__
posts/templatetags/__pycache__