/* h1 {
    color: #180a8f;
} */

h2,
h2 a {
    color: #1f6fe7;
    text-decoration: solid;
}

h5 {
    margin: 0 20px;
}

p {
    color: #777777;
    margin: 0 20px;
    text-align: justify;
}
img {
    position: relative;
    float: left;
    max-width:  200px;
    /* max-height: 200px; */
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}