{% extends "rest_framework/base.html" %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="shortcut icon" href="#">
    <script src="/static/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block branding %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" rel="nofollow" href="{% url 'posts:list' %}">
        BLOG DJANGO
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
    		<!-- POST -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">POST</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
					<a class="nav-link" href="{% url 'posts_api:list' %}">Post List</a>
					<a class="nav-link" href="{% url 'posts_api:create' %}">Create Post</a>
				</div>
			</li>
			<!-- COMMENTS -->
			<li class="nav-item dropdown">
			</li>
			<a class="nav-link" href="{% url 'posts_api:list' %}">Post List</a>
			<a class="nav-link" href="{% url 'posts_api:create' %}">Create Post</a>
			<a class="nav-link" href="{% url 'comments_api:list' %}">Comments List</a>
		    <a class="nav-link" href="{% url 'comments_api:create' %}">Create Comments</a>
		    <a class="nav-link" href="{% url 'accounts_api:register' %}">Registro de Usuarios</a>
			<a class="nav-link" href="{% url 'admin:index' %}">admin login</a>
		</ul>
		<ul class="navbar-nav mr-auto">
	    {% if not request.user.is_authenticated %}
		    <a class="nav-link" href="{% url 'accounts_api:login' %}">Iniciar Sesión</a>
	    {% else %}
	    	<a class="btn btn-outline-success" href="#"> {{ request.user|upper }} </a>
		{% endif %}
		</ul>
	</div>
</nav>
{% endblock %}