{% extends "rest_framework/base.html" %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="/static/rest_framework/css/bootstrap.min.css" type="text/css">
    <link rel="shortcut icon" href="#">
{% endblock %}

{% block branding %}
<ul class="nav navbar-nav navbar-fixed-top" style="width: 80%; background-color: currentColor;">
	<a class="navbar-text" rel="nofollow" href="{% url 'posts:list' %}">BLOG DJANGO </a>	
	<a class="navbar-brand" style="color:#00ffff;" href="{% url 'posts_api:list' %}">Post List</a>
	<a class="navbar-brand" style="color:#00ffff;" href="{% url 'posts_api:create' %}">Create Post</a>
	<a class="navbar-brand" style="color:#00ffff;" href="{% url 'comments_api:list' %}">Comments List</a>
	<a class="navbar-brand" style="color:#00ffff;" href="{% url 'comments_api:create' %}">Create Comments</a>
	{% if request.user.is_staff %}
	<a class="navbar-brand" style="color:#2697ff;" href="{% url 'accounts_api:login' %}">Iniciar Sesión</a>
		{% if request.user.is_superuser %}
			<a class="navbar-brand" style="color:#2697ff;" href="{% url 'accounts_api:register' %}">Registro de Usuarios</a>
		{% endif %}
	{% endif %}
</ul>
{% endblock %}