{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Blog{% endblock title %}</title>
	<!-- Estilos propios -->
	<link rel="stylesheet" href="{% static 'css/basic.css' %}">
	<style> {% block style %}{% endblock style %} </style>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
	<!-- font-awesome -->
	<link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
	<!-- popper -->
	<link rel="stylesheet" href="{% static 'popper/css/popper.css' %}">
	<!-- Extra -->
	{% block head_extra %}{% endblock head_extra %}
	<!-- ICON-->
	<link rel="shortcut icon" href="#">
</head>
<body>
	<div>
		
		{% comment %}
		{% include 'navbar2.html' %}
		{% include 'navbar.html' %}		
		{% endcomment %}
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="#">BLOG</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
		
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
						<ul class="navbar-nav mr-auto">
								<li class="nav-item active">
										<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
								</li>
		
								<li class="nav-item">
										<a class="nav-link" href="{% url 'posts:list' %}">Lista</a>
								</li>
		
								<li class="nav-item">
										<a class="nav-link" href="{% url 'admin:index' %}">admin login</a>
								</li>
						</ul>
						<ul class="navbar-nav mr-auto">
								{% block post_username %}
								{% endblock post_username %}
								<!-- Si el usuario no esta autenticado -->
								{% if not request.user.is_authenticated %}
								<li class="nav-item">
										<a class="btn btn-outline-success" href="{% url 'accounts:login' %}">Iniciar Sesión</a>
								</li>
								<li class="nav-item">
										<a class="btn btn-outline-success" href="{% url 'accounts:register' %}">Registro de Usuario</a>
								</li>
								<!-- Si el usuario esta autenticado -->
								{% else %}
								<li class="nav-item">
										<a class="btn btn-outline-success" href="{% url 'accounts:logout' %}">Cerrar Sesión</a>
								</li>
								{% endif %}
						</ul>
						<form class="form-inline my-2 my-lg-0">
								<input class="form-control mr-sm-2" type="text" placeholder="Buscar Post" 
								class="form-control" name="q">
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
										Buscar
										<i class="fa fa-search" aria-hidden="true"></i>
								</button>
						</form>
				</div>
		</nav>
	</div>
	<!-- Mensajes Django -->
	{% include 'mensajes.html' %}
	<!-- Contenido -->
	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>
	<!-- jquery -->
	<script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
	<!-- popper -->
	<script src="{% static 'popper/js/popper.min.js' %}" crossorigin="anonymous"></script>
	<!-- Marked -->
	<script src="{% static 'marked/marked.js' %}"></script>
	<!-- Comentarios de facebook -->
	<!--
	<div id="fb-root"></div>
	<script async defer src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2"></script>
	-->
	<!-- Extras -->
	<script>{% block script %}{% endblock script %}</script>
	<script>
	    $(document).ready(function(){
			// Funcion para Render HTML and Markdown en post_detail.html y en post_list.html
			$('.content-markdown').each(function(){
				var content = $(this).text();
				var markedContent = marked(content);
				$(this).html(markedContent);
			});
			$('.content-markdown img').each(function(){
				$(this).addClass("img-thumbnail");
			})
		});
		// Vista previa de contenido de un post al ser editado o creado
		
		// Titulo
		var titleItem = $('#id_title');
		
		function setTitle(value) {
			$('#preview-title').text(value);
		}
		setTitle(titleItem.val());
		// actualizacion automatica de la vista previa del titulo
		titleItem.keyup(function(){
			// console.log($(this).val());
			var newTitle = $(this).val();
			setTitle(newTitle);
		})
		
		// Contenido
		var contentItem = $('#id_content');
		// Funcion para que la imagen del contenido renderize
		function setContent(value) {
			var markedContent = marked(value);
			// Contenido
			$('#preview-content').html(markedContent);
			// Imagen dentro del contenido
			$('#preview-content img').each(function() {
				$(this).addClass("img-thumbnail")
			});
		}
		setContent(contentItem.val())
		// actualizacion automatica de la vista previa del contenido
		contentItem.keyup(function(){
			// console.log($(this).val());
			var newContent = $(this).val();
			setContent(newContent);
		});
		// muestra los comentarios
		$(".comment_reply_btn").on("click",function(e) {
			e.preventDefault();
			console.log("hola")
			$(this).parent().next(".comment_reply").fadeToggle("slow", "linear);
		});
	</script>
</body>
</html>

{% comment "optional note" %}
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. In vitae aperiam deleniti consequuntur aliquam fuga. Voluptate doloribus, adipisci repudiandae amet reiciendis soluta expedita ad dolore commodi. Delectus quaerat itaque iusto.
{% endcomment %}
