{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Blog{% endblock title %}</title>
	<!-- Estilos propios -->
	<link rel="stylesheet" href="{% static 'css/basic.css' %}">
	<style> {% block style %}{% endblock style %} </style>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
	<!-- font-awesome -->
	<link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
	<!-- popper -->
	<link rel="stylesheet" href="{% static 'popper/css/popper.css' %}">
	<!-- Extra -->
	{% block head_extra %}{% endblock head_extra %}
	<!-- ICON-->
	<link rel="shortcut icon" href="#">
</head>
<body>
	<div>
		{% include 'navbar.html' %}
	</div>
	<!-- Mensajes Django -->
	{% include 'mensajes.html' %}
	<!-- Contenido -->
	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>
	<!-- jquery -->
	<script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'jquery/jquery-3.3.1.slim.js' %}" crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
	<!-- popper -->
	<script src="{% static 'popper/js/popper.min.js' %}" crossorigin="anonymous"></script>
	<!-- Marked -->
	<script src="{% static 'marked/marked.js' %}"></script>
	<!-- Comentarios de facebook -->
	<div id="fb-root"></div>
	<script async defer src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2"></script>
	<!-- Extras -->
	<script>{% block script %}{% endblock script %}</script>
	<script>
	    $(document).ready(function(){
			// Funcion para Render HTML and Markdown en post_detail.html y en post_list.html
			$('.content-markdown').each(function(){
				var content = $(this).text();
				var markedContent = marked(content);
				$(this).html(markedContent);
			});
			$('.content-markdown img').each(function(){
				$(this).addClass("img-thumbnail");
			})
		})
		
		// Vista previa de contenido de un post al ser editado o creado
		
		// Titulo
		var titleItem = $('#id_title');
		
		function setTitle(value) {
			$('#preview-title').text(value);
		}
		setTitle(titleItem.val());
		// actualizacion automatica de la vista previa del titulo
		titleItem.keyup(function(){
			// console.log($(this).val());
			var newTitle = $(this).val();
			setTitle(newTitle);
		})
		
		// Contenido
		var contentItem = $('#id_content');
		// Funcion para que la imagen del contenido renderize
		function setContent(value) {
			var markedContent = marked(value);
			$('#preview-content').html(markedContent);
			$('#preview-content img').each(function() {
				$(this).addClass("img-thumbnail")
			});
		}
		setContent(contentItem.val())
		// actualizacion automatica de la vista previa del contenido
		contentItem.keyup(function(){
			// console.log($(this).val());
			var newContent = $(this).val();
			setContent(newContent);
		});

	</script>
</body>
</html>