{% extends "base.html" %}

{% block title %} {{block.super}} | Post Detail {% endblock %}

<style> 
	{% block style %}
	{% endblock style %} 
</style>

{% block content %}
	<!-- Encabezado -->
	<div class="row">
		<!-- Titulo -->
		<div class="col-xs-7">
			<h2 class="title-post"> {{ title }} </h2>
		</div>
		<!-- Botones -->
		<div class="col-xs-5 btn-group" role="group">
			<!-- Volver a la lista de post -->
			<a href="{% url 'posts:list' %}">
				<button class="btn-post" type="button" data-toggle="tooltip" data-placement="bottom" title="Volver">
					<i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
				</button>
			</a>
			<!-- crear un nuevo post -->
			<a href="{% url 'posts:create' %}">
				<button class="btn-post" type="button" data-toggle="tooltip" data-placement="bottom" title="Crear">
					<i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
				</button>
			</a>
			<!-- Editar el post -->
			<a href="{% url 'posts:update' id=instance.id %}">
				<button class="btn-post" type="button" data-toggle="tooltip" data-placement="bottom" title="Editar">
					<i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
				</button>
			</a>
			<!-- Eliminar el post -->
			<button class="btn-post" type="button" data-toggle="modal" data-target="#ModalButtonDelete" data-placement="bottom" title="Eliminar">
				<i class="fa fa-trash fa-2x" aria-hidden="true"></i>
			</button>
		</div>
		<!-- End Buttons -->
	</div>
	<!-- Contenido -->
	<br>
	<div class="row container-fluid">
		<div class="col-xs-6">
			<div class="card" style="max-width:400px;">
				{% if instance.image %}
				<img 
				class="card-img-top rounded mx-auto d-block" 
				src="{{ instance.image.url }}" 
				alt="Card image cap" 
				style="">
				{% endif %}
			</div>
		</div>
		<div class="col-xs-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">{{ instance.title }}</h4>
					<!-- Contenido del post -->
					<div class="content-markdown"> {{ instance.content }} </div>
					<!-- Si es un borrador -->
					{% if instance.draf %}
						<p class="card-text">
							<small class="text-muted">  
								<span style="color:red;"> Borrador </span> 
							</small>
						</p>    
					{% endif %}
					<!-- Fechas del post -->
					<p class="card-text"><small class="text-muted">Fecha de Creación: {{ instance.timestamp }} </small></p>
					<p class="card-text"><small class="text-muted">Fecha de Actualización: {{ instance.updated }} </small></p>
					<p class="card-text">
						<small class="text-muted">
							<span style="color:blue;"> Fecha de Publicación: {{ instance.publish }}  </span>
						</small>
					</p>
					<!-- Nombre del usuario -->
					{% if instance.author.get_full_name %}
					<!-- Nombre completo -->
					<h5 class="card-text"> & {{ instance.author.get_full_name }} </h5>
					{% else %}
					<!-- Nombre de usuario -->
					<h5 class="card-text"> & {{ instance.author }} </h5>
					{% endif %}	
				</div>
			</div>
		</div>
	</div>
	<br>
	<!-- Modal Button -->
	<div id="ModalButtonDelete" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #dc3545; text-align: center;">
					<h4 class="" style="color:white;">Advertencia!!!</h4>            
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<h5>¿Está seguro de Eliminar este post?</h5>
				</div>
				<div class="modal-footer">
					<a href="{% url 'posts:delete' id=instance.id %}">	
						<button class="btn btn-danger">Aceptar</button>
					</a>
					<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Modal Buttons -->
	<!-- Comentarios -->
	{% if  comments %}
	<div 
	style="margin-left: 0px; margin-right: 30px; padding-top: 10px;background-color: #eae6e6bd">
		<div class="col-sm-12">

			{% comment "optional note" %}
				<br>
				{{ instance.comment_set.all }}
				<br>
				{{ comments }}
				<br>
				{{ instance.comments.all }}
			{% endcomment %}

			<h2 class="lead" style="padding-left:20px;text-transform: uppercase;">
				Comentarios
			</h2>
			<div class="row">
				{% for comment in comments %}
					<div class="col-md-12">
						<blockquote>
							<p> {{ comment.content }} </p>
							<p>
								<small style="color:#007bff;">
									via & {{ comment.author|capfirst }} | {{ comment.timestamp|timesince }}
								</small>
							</p>
						</blockquote>
					</div>
					
					{% comment "optional note" %}
					<div class="col-md-12">
						{{ comment.content_object }}
					</div>

					<div class="col-md-7">
						<p  style="pdadding-left:30px;text-transform: capitalize;">
							{{ comment.content }}
						</p>
					</div>
					<div class="col-md-3">
						<p>
							<small>
								{{ comment.timestamp|timesince }}
							</small>
						</p>
					</div>
					<div class="col-md-2">
						<b>
							& {{ comment.author|capfirst }}
						</b>
					</div>
					{% endcomment %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}

	{% comment "Redes Sociales" %}
	<!-- Redes sociales -->
	{% include 'socialnetwork.html' %}
	{% endcomment %}

{% endblock %}

<script>
	{% block script %}
	{% endblock script %}
</script>