{% extends "base.html" %}

{% block title %} {{block.super}} | Post Lists {% endblock %}

{% block content %}

<a href="{% url 'posts:create' %}">Crear Post</a>
<h1> {{ title }} </h1>
	<div class="row">
		{% for obj in object_list %}
			<div class="col-xs-12 col-md-6">
				<div class="card">
					<div class="card-body">
						<!-- <h2>  <a href="/posts/{{obj.id}}">  {{ obj.title }} </a> </h2> -->
						<!-- <h2>  <a href="{% url 'posts:detail' id=obj.id %}">  {{ obj.title }} </a> </h2> -->
						<h3 class="card-title">  {{ obj.title }} <small style="color:lightslategrey"> {{ obj.timestamp|date:"D d M Y" }} </small> </h3>
						<p class="card-text"> {{ obj.content|linebreaks|truncatechars:150 }} </p>
						<h5> {{ obj.author }} </h5>
						<p> <a href="{{ obj.get_absolute_url }}" class="card-link" role="button">Ver</a> </p>
					</div>
				</div>
			</div>
			<hr>
		{% endfor %}
	</div>
{% endblock %}
