{% extends "base.html" %}

{% block title %} {{block.super}} | {{ title }} {% endblock %}

<!-- PagedownWidget -->
{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}

{% block content %}
	<div class="row">
		<div class="col-xs-7">
			<h2 class="title-post"> {{ titles }} </h2>
		</div>
		<div class="col-xs-5 btn-group" role="group">
			<!-- Boton volver -->
			<a href="{% url 'posts:list' %}">
				<button class="btn-post" type="button" data-toggle="tooltip" data-placement="bottom" title="Volver">
					<i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
				</button>
			</a>
			<!-- Boton guardar - levanta un modal -->
			<button class="btn-post" type="submit" data-toggle="modal" data-target="#ModalButton" data-placement="bottom" title="Guardar">
				<i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
			</button>
		</div>
	</div>
	<br>
	<form 
	action="" 
	method="POST" 
	enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<!-- Modal Button -->
		<div id="ModalButton" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="background-color: orange; text-align: center;">
						<h4 class="" style="color:white;">
							<i class="fa fa-undo" aria-hidden="true"></i>
							Advertencia!!!
						</h4>            
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<h5>¿Está seguro de guardar los cambios?</h5>
					</div>
					<div class="modal-footer">
						<button class="btn btn-warning" style="background-color: orange;">Aceptar</button>
						<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal Buttons -->
	</form>

{% endblock %}