{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}
{% block title %} {{block.super}} | Post Detail {% endblock %}

<style> 
	{% block style %}
	{% endblock style %} 
</style>

{% block content %}
	<!-- Encabezado -->
	<div class="row">
		<!-- Titulo -->
		<div class="col-xs-7">
			<h2 class="title-post"> {{ title }} </h2>
		</div>
		<!-- Botones -->
		<div class="col-xs-5 btn-group" role="group">
			<!-- Volver a la lista de post -->
			<a href="{% url 'posts:list' %}">
				<button class="btn-post" type="button" data-toggle="tooltip" data-placement="bottom" title="Volver">
					<i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
				</button>
			</a>
			<!-- crear un nuevo post -->
			<a href="{% url 'posts:create' %}">
				<button class="btn-post" type="button" data-toggle="tooltip" data-placement="bottom" title="Crear">
					<i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
				</button>
			</a>
			<!-- Editar el post -->
			<a href="{% url 'posts:update' id=instance.id %}">
				<button class="btn-post" type="button" data-toggle="tooltip" data-placement="bottom" title="Editar">
					<i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
				</button>
			</a>
			<!-- Eliminar el post -->
			<button class="btn-post" type="button" data-toggle="modal" data-target="#ModalButtonDelete" data-placement="bottom" title="Eliminar">
				<i class="fa fa-trash fa-2x" aria-hidden="true"></i>
			</button>
		</div>
		<!-- End Buttons -->
	</div>
	<!-- Contenido -->
	<br>
	<div class="row container-fluid">
		<div class="col-xs-6">
			<div class="card" style="max-width:400px;">
				{% if instance.image %}
				<img 
				class="card-img-top rounded mx-auto d-block" 
				src="{{ instance.image.url }}" 
				alt="Card image cap" 
				style="">
				{% endif %}
			</div>
		</div>
		<div class="col-xs-6">
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<div class="row">
							<div class="col-xs-7">
								<h4 class="title-post"
								style="background-color: #343a40;">{{ instance.title }}</h4>
							</div>
							<div class="col-xs-5 btn-group" role="group">
								<button type="button" 
								data-toggle="modal" 
								data-target="#ModalCreateComment" 
								data-placement="bottom" 
								title="Añadir Comentario"
								class="btn btn-dark">
									<i class="fa fa-comment" aria-hidden="true"></i>	
								</button>
							</div>
						</div>
					</div>
					<!-- Contenido del post -->
					<div class="content-markdown"> {{ instance.content }} </div>
					<!-- Si es un borrador -->
					{% if instance.draf %}
						<p class="card-text">
							<small class="text-muted">  
								<span style="color:red;"> Borrador </span> 
							</small>
						</p>    
					{% endif %}
					<!-- Fechas del post -->
					<p class="card-text"><small class="text-muted">Fecha de Creación: {{ instance.timestamp }} </small></p>
					<p class="card-text"><small class="text-muted">Fecha de Actualización: {{ instance.updated }} </small></p>
					<p class="card-text">
						<small class="text-muted">
							<span style="color:blue;"> Fecha de Publicación: {{ instance.publish }}  </span>
						</small>
					</p>
					<p class="card-text">
						<small> Tiempo de Lectura: 
							{% if instance.read_time|time:"i" <= "1" %} < 1 minuto
							{% elif instance.read_time|time:"i" < "10" %} < 10 minutos
							{% else %} {{ instance.read_time|time:"i" }} minutos
							{% endif %}
						</small> 
					</p>
					<!-- Nombre del usuario -->
					{% if instance.author.get_full_name %}
					<!-- Nombre completo -->
					<h5 class="card-text"> & {{ instance.author.get_full_name|capfirst }} </h5>
					{% else %}
					<!-- Nombre de usuario -->
					<h5 class="card-text"> & {{ instance.author }} </h5>
					{% endif %}	
				</div>
			</div>
		</div>
	</div>
	<br>
	<!-- Modal Button -->
	<div id="ModalButtonDelete" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #dc3545; text-align: center;">
					<h4 class="" style="color:white;">Advertencia!!!</h4>            
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<h5>¿Está seguro de Eliminar este post?</h5>
				</div>
				<div class="modal-footer">
					<a href="{% url 'posts:delete' id=instance.id %}">	
						<button class="btn btn-danger">Aceptar</button>
					</a>
					<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Modal Buttons -->

	<!-- Modal Create Comment -->
	<div id="ModalCreateComment" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="color:white; background-color: #007bff; border-radius: .25rem;">
					<h4> Comentar el Post: {{ instance.title|capfirst }} </h4>
				</div>
				<!-- Crea Comentarios -->
				<div class="modal-body">
					<form action="." method="POST">
						{% csrf_token %}
						{{ comment_form|crispy }}
						<input type="submit" value="Guardar Comentario"
						class="btn btn-primary">
						<button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cerrar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Modal Comment -->

	<!-- Modal Reply Comment -->
	<div class="modalreply">
		<div id="ModalReplyComment" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"
					style="color:white; background-color: #007bff; border-radius: .25rem;">
						<div class="row">
							<div class="container-fluid">
								<h4> Replica al comentario del Post:</h4>
								<h4> {{ instance.title|capfirst }}  </h4>
							</div>
						</div>
					</div>
					<!-- Crea Comentarios -->
					<div class="modal-body">
						<form action="." method="POST">
							{% csrf_token %}
							{{ comment_form|crispy }}
							<input type="hidden" name="parent_id" value=" {{ comment.id }} ">
							<input type="submit" value="Replicar Comentario"
							class="btn btn-primary">
							<button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cerrar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Modal Comment -->
	
	<!-- Comentarios -->
	<div 
	style="margin-left: 0px; margin-right: 30px; padding-top: 10px;background-color: #eae6e6bd">
		<!-- Muestra Comentarios -->
		<div class="col-sm-12">

			<!-- Titulo -->
			<h2 class="lead" 
			style="padding-left:20px;text-transform: uppercase;">
				Comentarios
			</h2>
			<!-- Comentarios -->
			<div class="row">
				{% for comment in comments %}
					<div class="col-md-12" style="border-top: 1px solid #d4cbcb">
						<blockquote>
							<!-- Comentario Padre -->
							<p> {{ comment.content }} </p>
							<small style="color:#483f3f; margin: 0 20px">
								via & {{ comment.author|capfirst }}  |  {{ comment.timestamp|timesince }}
								{% if comment.children.count > 0 %}| {{ comment.children.count }} Comentario{% endif %}{% if comment.children.count > 1 %}s{% endif %}
								| <a href="#" class="comment_reply_btn" style="color:#007bff;">Responder</a>
								| <a href='{{ comment.get_absolute_url }}'>Detalles</a>
							</small>
							<!-- Replica de Comentarios -->
							<div class="comment_reply" style="display:none;">
								{% for child_comment in comment.children %}							
									<blockquote style="padding-left:25px; margin: 0 30px; background-color:#d4cbcb;border-radius:2px;">
										<p> {{ child_comment.content }} </p>
										<p>
											<small style="color:#007bff;">
												via & {{ child_comment.author|capfirst }}  |  {{ child_comment.timestamp|timesince }} 
											</small>
										</p>
									</blockquote>
								{% endfor %}
								<div class="container">				
									<form action="." method="POST">
										{% csrf_token %}
										{{ comment_form|crispy }}
										<input type="hidden" name="parent_id" value=" {{ comment.id }} ">
										<input type="submit" value="Replicar Comentario"
										class="btn btn-primary">
									</form>
								</div>
							</div>
						</blockquote>
						<!-- FIN de Comentarios -->
					</div>
				{% endfor %}
			</div>
		</div>
		<!-- Fin Muestra Comentarios -->
	</div>


	{% comment "Redes Sociales" %}
	<!-- Redes sociales -->
	{% include 'socialnetwork.html' %}
	{% endcomment %}

{% endblock %}

<script>
	{% block script %}
	// muestra los comentarios
	$(".comment_reply_btn").on("click",function(e) {
		e.preventDefault();
		$(this).parent().next(".comment_reply").fadeToggle("fast", "linear");
	});
	{% endblock script %}
</script>